.portfolio-container {
    padding: 15px;
}

mat-grid-tile {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

app-asset {
    height: 100%;
}

.create-asset-btn {
    width: 100%;
    height: 100%;
}

.fa-plus {
    font-size: 45px;
    color: rgba(172, 31, 31, 0.789);
}

@media (max-width: 768px) {
    .portfolio-container {
        padding: 0;
    }
}