.route-container {
    min-height: 100vh;
}

.app-toolbar {
    // background-color: white;
    background-color: #262626;
    // background: transparent;
    z-index: 1;
}

.user-icon {
    text-align: right;
}

.drawer {
    position: fixed;
    border: none;
    background-color: #262626;
    z-index: 0;
}

.drawer-icon {
    margin-left: 16px;
    margin-top: 21.5px;
    font-size: 20px;
}

.drawer-container {
    z-index: 0;
}

.global-spinner {
  position: absolute; 
  top: 10%;
  left: 46%;
}