<div class="portfolio-container" [hidden]="util.isGlobalLoading">
    <div *ngIf="!auth.user.asset.portfolio.length">
        <!-- You've got no assets yet -->
    </div>

    <mat-grid-list [cols]="(isHandset | async).matches ? 1 : 4"
    rowHeight="5:7" gutterSize="7px">
        <mat-grid-tile *ngFor="let asset of manager.portfolio | async; let i=index">
            <app-asset [asset]="asset" [index]="i"></app-asset>
        </mat-grid-tile>
        <mat-grid-tile
        matTooltip="Create Asset">
            <button mat-button
            (click)="createAsset()"
             class="create-asset-btn">
                <i class="fas fa-plus"></i>
            </button>
        </mat-grid-tile>
    </mat-grid-list>
    

</div>