<div class="app-container">
  <mat-toolbar class="app-toolbar">
      <div class="flex-container">
          <div class="col">
              <i class="fas fa-bars" (click)="sidenav.toggle()"
              style="cursor:pointer"
              *ngIf="auth.isLoggedIn()"></i>
          </div>
          

          <div class="col user-icon">
              <a [matMenuTriggerFor]="menu" style="cursor:pointer">
                  <span *ngIf="auth.isLoggedIn()">
                      {{auth.user.asset.userStuff.username}} 
                  </span>
                  <i class="fas fa-user"></i>
              </a>
              <mat-menu #menu="matMenu">
                  <button mat-menu-item
                  *ngIf="!auth.isLoggedIn()" routerLink="/login">Login</button>
                  <button mat-menu-item
                  *ngIf="auth.isLoggedIn()"
                  (click)="auth.logout()">Logout</button>
              </mat-menu>
          </div>
      </div>
  </mat-toolbar>

  <mat-drawer-container class="drawer-container" >
      <mat-drawer #drawer mode="side" position="start" [opened]="auth.isLoggedIn()"
      style="position: fixed; z-index: 0" class="drawer">

        <i class="fas fa-bars drawer-icon" (click)="sidenav.toggle()"
        style="cursor:pointer"
        *ngIf="auth.isLoggedIn()"></i>
        <app-dash></app-dash>
      </mat-drawer>
      
      <mat-drawer-content>
          <div id="page" class="route-container">  
              <router-outlet class="mat-app-background"></router-outlet>
          </div>
      </mat-drawer-content>
  </mat-drawer-container>

</div>
