<div class="dash">
    <div>
        <button mat-button class="dash-btn"
        routerLink="home" >
            <i class="fas fa-project-diagram larger-icon" style="font-size: 23px; left: -5px"></i> 
            <span style="padding-left: 5px">EXPLORE</span>
        </button>
    </div>


    <div>
        <button mat-button class="dash-btn"
        routerLink="portfolio" >
            <i class="fas fa-file-invoice larger-icon"
            style="padding-left: 3px;"></i> 
            <span style="padding-left: 15px"
            >PORTFOLIO</span>
        </button>
    </div>

    <div>
        <button mat-button class="dash-btn"
        routerLink="settings">
            <i class="fas fa-cogs larger-cogs"></i>
            <span style="padding-left: 5px;"
            > SETTINGS</span>
        </button>
    </div>

    <div class="dash-footer">
        <button mat-raised-button color="primary" class="dash-btn" (click)="auth.addCash()">
            <i class="fa fa-lira-sign"></i> +
        </button>
    </div>
</div>