<div class="asset"
    (click)="showDetails(asset)"
    [style.background]="'url('+imageDataUrl+')'"
    [style.backgroundSize]="'cover'">
    <div class="asset-header"></div>

    
    <div class="asset-info"
    [@assetDetails]="isShown ? 'shown' : 'hidden'">
        <div class="asset-title">
            {{asset.name}}
        </div>
        <div class="flex-container">
            <div class="asset-left col-2x3">
                <div class="asset-description">
                    {{asset.description}}
                </div>

                <div class="asset-details">
                    <div class="asset-price">
                        PricePerShare: {{LSK}}{{asset.value}}
                    </div>
                    <div class="asset-shares">
                        Shares: {{asset.issued}}
                    </div>
                </div>
            </div>
            <div class="col-1x3">
                <button mat-raised-button class="box-btn">
                    <i class="fas fa-edit"></i>
                </button>
                <button mat-raised-button class="box-btn" (click)="destroyAsset()">
                    <i class="far fa-times-circle"></i>
                </button>
            </div>
        </div>
    </div>
</div>