<div class="dash">
    <div>
        <button mat-button class="dash-btn"
        routerLink="home" ><i class="fas fa-home larger-icon-diff"></i> HOME</button>
    </div>
    <div>
        <button mat-button class="dash-btn"
        routerLink="settings"><i class="fas fa-cogs larger-cogs"></i> SETTINGS</button>
    </div>

    <div class="dash-footer">
        <button mat-raised-button color="accent" class="dash-btn" (click)="auth.addCash()">
            + Cash
        </button>
    </div>
</div>