.create-asset-container {
    background-color: #262626;
}

.asset-block {
    padding: 24px;
}

.inline-form-field {
    // width: 20%;
    max-width: 56%;
    font-size: 10px;
    padding-right: 5px;
}